In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('adult.data.csv')

In [5]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
#count number of people in race
race_count = pd.Series(df['race']).count()
race_count

32561

In [119]:
#count average age of man
"""
sex_array = df['sex'] 
#print(sex_array)
#print(sex_array == 'Male')
age_series = df['age']
#print(age_series)
man_age = age_series[sex_array=='Male']
print(man_age.mean())"""
average_age_men = df[df['sex']=='Male']['age'].mean()
print(average_age_men)

39.43354749885268

In [109]:
#bachelor percentage count


"""education_count = df['education'].count()
#print(education_count)

Bachelors = df['education']
B_length =   Bachelors[Bachelors == 'Bachelors'].count()

#print(B_length)

percentage_bachelors = B_length /education_count * 100
percentage_bachelors"""

5355

16.44605509658794

In [121]:
percentage_bachelors = round(len(df[df['education']=='Bachelors']) / len(df) * 100)
percentage_bachelors

16

In [115]:
""""race_count = df.groupby('race')['race'].count()
race_count"""

race
Amer-Indian-Eskimo      311
Asian-Pac-Islander     1039
Black                  3124
Other                   271
White                 27816
Name: race, dtype: int64

In [128]:
higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = round(len(higher_education[higher_education['salary'] == '>50K']) / len(higher_education) * 100, 1)
print(higher_education_rich)
lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich = round(len(lower_education[lower_education['salary'] == '>50K']) / len(lower_education) * 100, 1)
print(lower_education_rich)

46.5
17.4

In [136]:
min_work_hours = df['hours-per-week'].min()

In [148]:
num_min_workers = len(df[df['hours-per-week'] == min_work_hours])
rich_percentage = round(len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')]) / num_min_workers * 100, 1)
rich_percentage

10.0

In [155]:
df[df['salary']=='>50K']['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
France                  12
Poland                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Vietnam                  5
Ireland                  5
Ecuador                  4
Portugal                 4
Haiti                    4
Scotland                 3
Guatemala                3
Thailand                 3
Hungary                  3
Dominican-Republic       2
Columbia                 2
Trinadad&Tobago          2
Nicaragua                2
Laos                     2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64